{% extends 'portal/base.html' %}
{% block main_page %}


    {% include 'portal/header.html' %}

<div class="page-header header-filter header-small" data-parallax="true" style="background-image: url('{{url_for('portal.static', filename='img/mit_background.jpg')}}');" style="height: 50vh;"></div>


  <div class="main main-raised" style="margin-top: -55vh;">
    <div class="container">
      
      
      

      <div class="col-md-12 ml-auto mr-auto">
        <div class="about-team team-1">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto text-center">
            <h2 class="title" style="color: #6A0DAD;">Core Developers</h2>
            <h5 class="description">Meet our nerd rockstars behind the MIT Research and Consultancy Portal.</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="card card-profile card-plain">
              <div class="card-avatar">
                <a href="#pablo">
                  <img class="img" src="{{url_for('portal.static', filename='img/developers/ram.jpg')}}">
                </a>
              </div>
              <div class="card-body">
                <h4 class="card-title" style="color: #6A0DAD;">Ram Suthar</h4>
                <h6 class="category text-muted">BTech (Information Technology)</h6>
                <h6 class="category text-muted">MIT School of Engineering, MIT ADTU</h6>
                <p class="card-description">
                  And I love you like Kanye loves Kanye. We need to restart the human foundation.
                </p>
              </div>
              <div class="card-footer justify-content-center">
                <a href="#pablo" class="btn btn-just-icon btn-link btn-instagram">
                  <i class="fa fa-instagram"></i>
                </a>
                <a href="#pablo" class="btn btn-just-icon btn-link btn-facebook">
                  <i class="fa fa-facebook-square"></i>
                </a>
                <a href="#pablo" class="btn btn-just-icon btn-link btn-linkedin">
                  <i class="fa fa-linkedin"></i>
                </a>
              </div>
            </div>
          </div>
          
          <div class="col-md-4">
            <div class="card card-profile card-plain">
              <div class="card-avatar">
                <a href="#pablo">
                  <img class="img" src="{{url_for('portal.static', filename='img/developers/safir.jpg')}}">
                </a>
              </div>
              <div class="card-body">
                <h4 class="card-title" style="color: #6A0DAD;">Safir Motiwala</h4>
                <h6 class="category text-muted">BTech (Information Technology)</h6>
                <h6 class="category text-muted">MIT School of Engineering, MIT ADTU</h6>
                <p class="card-description">
                  I love you like Kanye loves Kanye. Don't be scared of the truth because we need to restart the human foundation.
                </p>
              </div>
              <div class="card-footer justify-content-center">
                <a href="#pablo" class="btn btn-just-icon btn-link btn-instagram">
                  <i class="fa fa-instagram"></i>
                </a>
                <a href="#pablo" class="btn btn-just-icon btn-link btn-facebook">
                  <i class="fa fa-facebook-square"></i>
                </a>
                <a href="#pablo" class="btn btn-just-icon btn-link btn-linkedin">
                  <i class="fa fa-linkedin"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-profile card-plain">
              <div class="card-avatar">
                <a href="#pablo">
                  <img class="img" src="{{url_for('portal.static', filename='img/developers/vinayak.jpg')}}">
                </a>
              </div>
              <div class="card-body">
                <h4 class="card-title" style="color: #6A0DAD;">Vinayak Sutar</h4>
                <h6 class="category text-muted">BTech (Information Technology)</h6>
                <h6 class="category text-muted">MIT School of Engineering, MIT ADTU</h6>
                <p class="card-description">
                  Don't be scared of the truth because we need to restart the human foundation.
                </p>
              </div>
              <div class="card-footer justify-content-center">
                <a href="#pablo" class="btn btn-just-icon btn-link btn-instagram">
                  <i class="fa fa-instagram"></i>
                </a>
                <a href="#pablo" class="btn btn-just-icon btn-link btn-facebook">
                  <i class="fa fa-facebook-square"></i>
                </a>
                <a href="#pablo" class="btn btn-just-icon btn-link btn-linkedin">
                  <i class="fa fa-linkedin"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      
    
    </div>
  </div>



{% endblock %}


