
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>document.getElementsByTagName("html")[0].className += " js";</script>

  <link rel="stylesheet" href="{{ url_for('portal.static',  filename='/css/progress.css') }}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" >
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    	
      <title>MIT R&C</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="stylesheet" type="text/css"
        href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- CSS Files -->
    <link href="{{ url_for('portal.static',  filename='css/material-kit.css') }}" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="{{ url_for('portal.static',  filename='demo/demo.css') }}" rel="stylesheet" />
    <link href="{{ url_for('portal.static',  filename='demo/vertical-nav.css') }}" rel="stylesheet" />

  <title>Progress</title>
</head>
<body class="bg-white container-fluid">
{% include 'portal/header.html' %}
<div style="margin-top: 150px;">
  <section class=" bg-light cd-timeline js-cd-timeline">
    <div class="container max-width-lg cd-timeline__container">
      <div class="cd-timeline__block ">
        <div class="cd-timeline__img cd-timeline__img--picture">
          <img src="{{ url_for('portal.static',  filename='/images/one.png') }}" alt="Picture">
        </div> <!-- cd-timeline__img -->


        {% if sems['sem1']=="1" %}
        <div class="cd-timeline__content text-component  shadow-lg bg-success">
          <p class="text-light" style="font-size:25px;">Semester I</p>
          <ul class="text-light text-left">
          {% elif current=="sem 1" %}
          <div class="cd-timeline__content text-component  shadow-lg bg-warning">
          <p class="text-dark" style="font-size:25px;">Semester I</p>
          <ul class="text-dark text-left">
          {% else %}
          <div class="cd-timeline__content text-component  shadow-lg bg-danger">
          <p class="text-light" style="font-size:25px;">Semester I</p>
          
            <ul class="text-light text-left">
              {% endif %}
              <li>PhD Course Work
                <ul>
                  <li>Research Methodology</li>
                  <li>Subject Specific Course Work</li>
                </ul>
              </li>
              <li>Commencement of Instructions</li>
              <li>End of Instructions</li>
              <li>End Semester Examination Duration</li>
            </ul>
      
         

          
          
        </div> <!-- cd-timeline__content -->
        
      </div> <!-- cd-timeline__block -->

      <div class="cd-timeline__block">
        <div class="cd-timeline__img cd-timeline__img--movie">
          <img src="{{ url_for('portal.static',  filename='/images/two.png') }}" alt="Movie">
        </div> <!-- cd-timeline__img -->

        {% if sems['sem2']=="1" %}
        <div class="cd-timeline__content text-component  shadow-lg bg-success">
          <p class="text-light" style="font-size:25px;">Semester II</p>
          <ul class="text-light text-left">
          {% elif current=="sem 2" %}
          <div class="cd-timeline__content text-component  shadow-lg bg-warning">
          <p class="text-dark" style="font-size:25px;">Semester II</p>
          <ul class="text-dark text-left">
          {% else %}
          <div class="cd-timeline__content text-component  shadow-lg bg-danger">
          <p class="text-light" style="font-size:25px;">Semester II</p>
          
            <ul class="text-light text-left">
              {% endif %}



              <li>PhD Course Work
                <ul>
                  <li>Subject Specific Course Work</li>
                </ul></li>
                <li>Proposal presentation to Research Advisory Committee</li>
                <li>Proposal revision (if required) as per suggestions by RAC and Final Proposal Submission to RAC</li>
                <li>Annual Progress report seminar presentation to RAC</li>
                <li>Approval of the Annual Progress report by BOR</li>
            </ul>
          
        
            

          
          
        </div><!-- cd-timeline__content -->
      </div> <!-- cd-timeline__block -->

      <div class="cd-timeline__block">
        <div class="cd-timeline__img cd-timeline__img--picture">
          <img src="{{ url_for('portal.static',  filename='/images/three.png') }}" alt="Picture">
        </div> <!-- cd-timeline__img -->

        {% if sems['sem3']=="1" %}
        <div class="cd-timeline__content text-component  shadow-lg bg-success">
          <p class="text-light" style="font-size:25px;">Semester III</p>
          <ul class="text-light text-left">
          {% elif current=="sem 3" %}
          <div class="cd-timeline__content text-component  shadow-lg bg-warning">
          <p class="text-dark" style="font-size:25px;">Semester III</p>
          <ul class="text-dark text-left">
          {% else %}
          <div class="cd-timeline__content text-component  shadow-lg bg-danger">
          <p class="text-light" style="font-size:25px;">Semester III</p>
          
            <ul class="text-light text-left">
              {% endif %}



              <li>Two Review Meetings of Departmental Research Committee* to check the progress of the candidates</li>
              <li>Duration for Literature Review by research scholar</li>
              <li>Presentation on literature review to RAC &amp; Review report submission</li>
              <li>Conference/ Seminar Paper Presentation on Literature Review</li></ul>
        
        

        
        

          
          
        </div><!-- cd-timeline__content -->
      </div> <!-- cd-timeline__block -->

      <div class="cd-timeline__block">
        <div class="cd-timeline__img cd-timeline__img--location">
          <img src="{{ url_for('portal.static',  filename='/images/four.png') }}" alt="Location">
        </div> <!-- cd-timeline__img -->
        
         {% if sems['sem4']=="1" %}
        <div class="cd-timeline__content text-component  shadow-lg bg-success">
          <p class="text-light" style="font-size:25px;">Semester IV</p>
          <ul class="text-light text-left">
          {% elif current=="sem 4" %}
          <div class="cd-timeline__content text-component  shadow-lg bg-warning">
          <p class="text-dark" style="font-size:25px;">Semester IV</p>
          <ul class="text-dark text-left">
          {% else %}
          <div class="cd-timeline__content text-component  shadow-lg bg-danger">
          <p class="text-light" style="font-size:25px;">Semester IV</p>
          
            <ul class="text-light text-left">
              {% endif %}



            <li>Two Review Meetings of Departmental Research Committee* to check the progress of the candidates</li>
            <li>Design of Experimental setup / data collection / Program implementation / design products etc.</li>
            <li>Annual progress report presentation to RAC</li>
            <li>Conference/ Seminar Paper Presentation on Literature Review</li></ul>
       
        

          
          
        </div> <!-- cd-timeline__content -->
      </div> <!-- cd-timeline__block -->

      <div class="cd-timeline__block">
        <div class="cd-timeline__img cd-timeline__img--location">
          <img src="{{ url_for('portal.static',  filename='/images/five.png') }}" alt="Location">
        </div> <!-- cd-timeline__img -->
        
        {% if sems['sem5']=="1" %}
        <div class="cd-timeline__content text-component  shadow-lg bg-success">
          <p class="text-light" style="font-size:25px;">Semester V</p>
          <ul class="text-light text-left">
          {% elif current=="sem 5" %}
          <div class="cd-timeline__content text-component  shadow-lg bg-warning">
          <p class="text-dark" style="font-size:25px;">Semester V</p>
          <ul class="text-dark text-left">
          {% else %}
          <div class="cd-timeline__content text-component  shadow-lg bg-danger">
          <p class="text-light" style="font-size:25px;">Semester V</p>
          
            <ul class="text-light text-left">
              {% endif %}



              <li>Two Review Meetings of Departmental Research Committee* to check the progress of the candidates</li>
              <li>Further continuation of research work as per research plan</li>
              <li>Writings of Initial Chapters</li>
              <li>Paper Publication (In the Journals approved by BOR &amp; recommended by RAC)</li></ul>
      
        
       

          
          
        </div> <!-- cd-timeline__content -->
      </div> <!-- cd-timeline__block -->

      <div class="cd-timeline__block">
        <div class="cd-timeline__img cd-timeline__img--movie">
          <img src="{{ url_for('portal.static',  filename='/images/six.png') }}" alt="Movie">
        </div> <!-- cd-timeline__img -->
       
        {% if sems['sem6']=="1" %}
        <div class="cd-timeline__content text-component  shadow-lg bg-success">
          <p class="text-light" style="font-size:25px;">Semester VI</p>
          <ul class="text-light text-left">
          {% elif current=="sem 6" %}
          <div class="cd-timeline__content text-component  shadow-lg bg-warning">
          <p class="text-dark" style="font-size:25px;">Semester VI</p>
          <ul class="text-dark text-left">
          {% else %}
          <div class="cd-timeline__content text-component  shadow-lg bg-danger">
          <p class="text-light" style="font-size:25px;">Semester VI</p>
          
            <ul class="text-light text-left">
              {% endif %}


              <li>Data Analyis</li>
              <li>Compilation of Final Chapters</li>
              <li>Pre Thesis Submission &amp; Viva</li>
            </ul>
       
        

          
          
        </div> <!-- cd-timeline__content -->
      </div> <!-- cd-timeline__block -->
    </div>
  </section> <!-- cd-timeline -->
  </div>
  

<script src="{{ url_for('portal.static',  filename='/js/progress.js') }}"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<script src="{{ url_for('portal.static', filename='js/core/jquery.min.js')}}" type="text/javascript"></script>
    <script src="{{ url_for('portal.static', filename='js/core/popper.min.js')}}" type="text/javascript"></script>
    <script src="{{ url_for('portal.static', filename='js/core/bootstrap-material-design.min.js')}}"
        type="text/javascript"></script>
    <script src="{{ url_for('portal.static', filename='js/plugins/moment.min.js')}}"></script>
 
    <!-- Plugins for presentation and navigation  -->
    <script src="{{ url_for('portal.static', filename='demo/modernizr.js')}}" type="text/javascript"></script>
    <script src="{{ url_for('portal.static', filename='demo/vertical-nav.js')}}" type="text/javascript"></script>

    <!-- Control Center for Material Kit: parallax effects, scripts for the example pages etc -->
    <script src="{{ url_for('portal.static', filename='js/material-kit.js')}}" type="text/javascript"></script>
</body>
</html>