{% extends 'portal/base.html' %}
{% block main_page %}
<div class="container-fluid" style="margin-top: 60px;">
{% include 'portal/header.html' %}
</div>




<div class="blog-posts sidebar-collapse">
<div class="main main-raised">
    <div class="container">
      <div class="section section-white">
        <div class="container-fluid">
          <!--                 nav pills -->
          <div id="navigation-pills">
          
            
            <div class="row ">
              <div class="col-md-4 ">
                <ul class="nav nav-pills nav-pills-rose flex-column pull-left">
                  <li class="nav-item"><a class="nav-link active" href="#tab1" data-toggle="tab">Profile</a></li>
                  <li class="nav-item"><a class="nav-link" href="#tab2" data-toggle="tab">Settings</a></li>
                  <li class="nav-item"><a class="nav-link" href="#tab3" data-toggle="tab">Options</a></li>
                  <li class="nav-item"><a class="nav-link" href="#tab2" data-toggle="tab">Settings</a></li>
                  <li class="nav-item"><a class="nav-link" href="#tab3" data-toggle="tab">Options</a></li>
                  <li class="nav-item"><a class="nav-link" href="#tab2" data-toggle="tab">Settings</a></li>
                  <li class="nav-item"><a class="nav-link" href="#tab3" data-toggle="tab">Options</a></li>
                </ul>
              </div>

              <form class="form-inline d-flex justify-content-center md-form form-sm active-purple active-purple-2 mt-5 ml-auto">
         
                <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search"
                  aria-label="Search">
                  <i class="fa fa-search" aria-hidden="true"></i>
              </form>
              
            </div>
            
            
            
          </div>
          <!--                 end nav pills -->
        </div>
      
        
     

      
        <div class="container tim-container m-auto">
          
          
          <div id="contentAreas" class="cd-section">
          
            <div id="tables">
              
            
              <div class="row">
                <div class="col-md-12">
                  <h4>Shopping Cart Table</h4>
                </div>
                <div class="col-lg-12 col-md-12 ml-auto mr-auto">
                  <div class="table-responsive">
                    <table class="table table-shopping">
                      <thead>
                        <tr>
                          <th class="text-center"></th>
                          <th>Product</th>
                          <th class="th-description">Color</th>
                          <th class="th-description text-right">Size</th>
                          <th class="text-center">Price</th>
                          <th class="text-right">Qty</th>
                          <th class="text-right">Amount</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <div class="img-container">
                              <img src="./static/img/examples/card-profile1.jpg" alt="...">
                            </div>
                          </td>
                          <td class="td-name">
                            <a href="#jacket">Book Title</a>
                            <br><small>Author Name</small>
                          </td>
                          <td>
                            Red
                          </td>
                          <td class="text-center">
                            M
                          </td>
                          <td class="td-number text-center">
                            <small>&#x20AC;</small>549
                          </td>
                          <td class="td-number">
                            1
                            <div class="btn-group">
                              <button class="btn btn-round btn-info btn-sm"> <i class="material-icons">remove</i> </button>
                              <button class="btn btn-round btn-info btn-sm"> <i class="material-icons">add</i> </button>
                            </div>
                          </td>
                          <td class="td-number text-center">
                            <small>&#x20AC;</small>549
                          </td>
                          <td class="td-actions">
                            <button type="button" rel="tooltip" data-placement="left" title="Remove item" class="btn btn-link">
                              <i class="material-icons">close</i>
                            </button>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="img-container">
                              <img src="./static/img/examples/card-profile1.jpg" alt="...">
                            </div>
                          </td>
                          <td class="td-name">
                            <a href="#jacket">Book Title</a>
                            <br><small>Author Name</small>
                          </td>
                          <td>
                            Red
                          </td>
                          <td class="text-center">
                            M
                          </td>
                          <td class="td-number text-center">
                            <small>&#x20AC;</small>549
                          </td>
                          <td class="td-number">
                            1
                            <div class="btn-group">
                              <button class="btn btn-round btn-info btn-sm"> <i class="material-icons">remove</i> </button>
                              <button class="btn btn-round btn-info btn-sm"> <i class="material-icons">add</i> </button>
                            </div>
                          </td>
                          <td class="td-number text-center">
                            <small>&#x20AC;</small>549
                          </td>
                          <td class="td-actions">
                            <button type="button" rel="tooltip" data-placement="left" title="Remove item" class="btn btn-link">
                              <i class="material-icons">close</i>
                            </button>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="img-container">
                              <img src="./static/img/examples/card-profile1.jpg" alt="...">
                            </div>
                          </td>
                          <td class="td-name">
                            <a href="#jacket">Book Title</a>
                            <br><small>Author Name</small>
                          </td>
                          <td>
                            Red
                          </td>
                          <td class="text-center">
                            M
                          </td>
                          <td class="td-number text-center">
                            <small>&#x20AC;</small>549
                          </td>
                          <td class="td-number">
                            1
                            <div class="btn-group">
                              <button class="btn btn-round btn-info btn-sm"> <i class="material-icons">remove</i> </button>
                              <button class="btn btn-round btn-info btn-sm"> <i class="material-icons">add</i> </button>
                            </div>
                          </td>
                          <td class="td-number text-center">
                            <small>&#x20AC;</small>549
                          </td>
                          <td class="td-actions">
                            <button type="button" rel="tooltip" data-placement="left" title="Remove item" class="btn btn-link">
                              <i class="material-icons">close</i>
                            </button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <!--                 end tables -->
            
        </div>
      
      
    </div>

  </div>

</div>



{% endblock %}