
{% extends 'forum/base.html' %}
{% block css %}
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
{% endblock %}
{% block main_page %}
<div class="">

    {% include 'portal/header.html' %}
    <div class="container" style="padding-top: 12vh;">
        <div class="d-flex justify-content-between">
            <h3 class="title text-dark pb-3">E-Resources</h3>

            <form class="mt-4 pt-1" style="width: 40%;">
                <input type="search" class="form-control ds-input" id="search-input" placeholder="Search..."
                    aria-label="Search for..." autocomplete="off" data-docs-version="4.5" spellcheck="false"
                    role="combobox" aria-autocomplete="list" aria-expanded="false"
                    aria-owns="algolia-autocomplete-listbox-0" style="position: relative; vertical-align: top;"
                    dir="auto">
            </form>
        </div>
        <hr>
        <div class="row pt-4 ">
            <div class="col-md-3 text-dark border-right">
                {% if session['logged_in'] %}
                <button class="btn btn-outline-primary btn-block" id="askQuestion">Ask a question</button>
                {% endif %}
                <div class="mt-4 pt-4">

                    <h4 class="title text-dark text-center">Resource Type</h4>
                    <hr>
                    <ul class="nav nav-pills nav-pills-rose flex-column">

                        <li class="nav-item"><a class="nav-link" href="#tab1" data-toggle="tab">Book</a></li>
                        <li class="nav-item"><a class="nav-link active show" href="#tab2"
                                data-toggle="tab">Paper</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="#tab3" data-toggle="tab">Journal</a></li>
                        <li class="nav-item"><a class="nav-link" href="#tab3" data-toggle="tab">Video</a></li>
                        <li class="nav-item"><a class="nav-link" href="#tab3" data-toggle="tab">Link</a></li>
                        
                    </ul>
                </div>
            </div>
            <div class="col-md-9 text-dark pr-4" id="allPosts">
                {% if session['logged_in'] %}
                <div class="border  p-1" style="display: none;" id="answerContainer">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Title</label>
                        <input type="text" class="form-control" id="threadTitle" placeholder="Enter thread title">
                    </div>
                    <div id="toolbar-container">

                        <span class="ql-formats">
                            <select class="ql-size"></select>
                        </span>
                        <span class="ql-formats">
                            <button class="ql-bold"></button>
                            <button class="ql-italic"></button>
                            <button class="ql-underline"></button>
                            <button class="ql-strike"></button>
                        </span>
                        <span class="ql-formats">
                            <input type="hidden" id="myHtml" />

                            <select class="ql-color"></select>
                            <select class="ql-background"></select>
                        </span>
                        <span class="ql-formats">
                            <button class="ql-script" value="sub"></button>
                            <button class="ql-script" value="super"></button>
                        </span>
                        <span class="ql-formats">
                            <button class="ql-header" value="1"></button>
                            <button class="ql-header" value="2"></button>
                            <button class="ql-blockquote"></button>
                            <button class="ql-code-block"></button>
                        </span>
                        <span class="ql-formats">
                            <button class="ql-list" value="ordered"></button>
                            <button class="ql-list" value="bullet"></button>
                            <button class="ql-indent" value="-1"></button>
                            <button class="ql-indent" value="+1"></button>
                        </span>
                        <span class="ql-formats">
                            <button class="ql-direction" value="rtl"></button>
                            <select class="ql-align"></select>
                        </span>
                        <span class="ql-formats">
                            <button class="ql-link"></button>
                            <button class="ql-image"></button>
                            <button class="ql-video"></button>
                            <button class="ql-formula"></button>
                        </span>
                        <span class="ql-formats">
                            <button class="ql-clean"></button>
                        </span>
                    </div>

                    <div id="editor">
                        <p class="text-muted">Enter description</p>
                        <br>
                    </div>
                    <div class="row d-flex justify-content-between">
                        <div class="input-group col-md-4 col-sm-5">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="material-icons">school</i>
                                </span>
                            </div>
                            <select class="form-control" id="departmentschange" name="department">
                                <option value="None">Select Department</option>
                                <option value="Management">Management</option>
                                <option value="Bioengineering Sciences and Research">Bioengineering Sciences and
                                    Research
                                </option>
                                <option value="Food Technology">Food Technology</option>
                                <option value="Applied Art">Applied Art</option>
                                <option value="Design">Design</option>
                                <option value="Vedic Sciences">Vedic Sciences</option>
                                <option value="Education">Education</option>
                                <option value="Engineering">Engineering</option>
                            </select>
                        </div>
                        <div class="col-md-4 col-sm-5">

                            <button class="btn btn-link btn-block text-primary m-0" id="convert" type="submit">Post
                                thread</button>
                        </div>
                    </div>

                </div>
                {% endif %}
                {% include 'portal/eContent.html' %}
            </div>
            

        </div>
        
    </div>

</div>

{% endblock %}

{% block jquery %}
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<script src="https://cdn.quilljs.com/1.3.6/quill.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.4.3/jquery.timeago.js"
    type="text/javascript"></script>
<!-- Initialize Quill editor -->

{% endblock %}