{% extends 'portal/base.html' %}
{% block main_page %}
<div class="signup-page container" style="margin-top: 10vh;">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
        aria-hidden="true">×</span></button>
    {{message}}
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}
  <div class="row">
    <div class="col-md-10 ml-auto mr-auto">
      <div class="card card-signup">
        <h2 class="card-title text-center text-primary">Register</h2>
        <form class="form" method="POST" action="{{url_for('portal.signup')}}">
          <div class="card-body">
            <div class="row">
              <div class="col-md-5 ml-auto">
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">face</i>
                      </span>
                    </div>
                    <input type="text" class="form-control" name="first_name" required placeholder="First Name...">
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">face</i>
                      </span>
                    </div>
                    <input type="text" class="form-control" name="last_name" required placeholder="Last Name...">
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">mail</i>
                      </span>
                    </div>
                    <input type="text" class="form-control" name="email" required placeholder="Email address">
                  </div>
                </div>

                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">lock_outline</i>
                      </span>
                    </div>
                    <input type="password" required placeholder="Password..." name="password" class="form-control" />
                  </div>
                </div>

              </div>
              <div class="col-md-5 mr-auto">


                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">calendar_today</i>
                      </span>
                    </div>
                    <input type="text" class="form-control" name="dob" required placeholder="Date of Birth">
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">category</i>
                      </span>
                    </div>
                    <input type="text" class="form-control" name="department" required placeholder="Department">
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">lock_outline</i>
                      </span>
                    </div>
                    <input type="text" required placeholder="address" name="address" class="form-control" />
                  </div>
                </div>
                <div class="text-center m-auto">
                  <div class="text-center m-auto col-md-6">
                    <button type="submit" class="btn btn-primary btn-round btn-block m-auto text-white">Sign up</button>
                  </div>
                </div>
                <div class="mt-3">
                  <p class="description text-center">Account already exists? </p>
                </div>

                <div class="text-center m-auto col-md-6">
                  <a href="{{url_for('portal.signin')}}" class="btn btn-primary btn-link">Sign in</a>
                </div>

              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}