{% extends 'portal/base.html' %}
{% block main_page %}


    {% include 'portal/header.html' %}

<div class="page-header header-filter header-small" data-parallax="true" style="background-image: url('{{url_for('portal.static', filename='img/mit_background.jpg')}}');" style="height: 50vh;"></div>


  <div class="main main-raised" style="margin-top: -55vh;">
    <div class="container">



      <div class="section section-pricing pricing-5 iframe-extern">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          {% with messages = get_flashed_messages() %}
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
        aria-hidden="true">×</span></button>
    {{message}}
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}
          <h2 class="title" style="color: black;">Supervisors Panel</h2>
          <div class="nav nav-pills nav-pills-rose">
            <div class="nav-tabs-wrapper">
              <ul class="nav nav-pills" data-tabs="tabs" id="mainTab">
                <li class="nav-item">
                  <a class="nav-link active show" href="#submissions" data-toggle="tab">
                    Submissions
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#resources" data-toggle="tab">
                    Resources
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-12 ml-auto mr-auto text-center">
          <div class="tab-content text-center">
            <div class="tab-pane active show" id="submissions">


              <form action="{{url_for('portal.submission_request')}}" method="POST" enctype = "multipart/form-data">
                
                <div class="col-md-12">
                  <h3 style="color: black; margin-bottom: 40px;">Request for Submission</h3>
                <div class="form-group">
                  <label>Assignment Title</label>
                  <input type="text" name="title" class="form-control" >
                </div>


                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Select Department</label>
                      <select name="department" class="form-control">
                        <option value="None">Select</option>
                        <option value="Engineering">Engineering</option>
                        <option value="Bio Engineering">Bioengineering Sciences and Research</option>
                        <option value="Vedic Sciences">Vedic Sciences</option>
                        <option value="Food Technology">Food Technology</option>
                        <option value="Management">Management</option>
                        <option value="Design">Design</option>
                        <option value="Fine Arts">Applied Art</option>
                        <option value="Education & Research">Education</option>
                    </select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Select Batch</label>
                      <select name="batch" class="form-control">
                        <option value="None">Select</option>
                        {% for i in batches %}
                        <option value="{{ i['batch_name'] }}">{{ i['batch_name'] }}</option>
                        {% endfor %}
                    </select>
                    </div>
                  </div>

                  
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>DeadLine</label>
                      <input type="date" name="deadline" class="form-control">
                    </div>
                  </div>
                </div>

                  <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>Description</label>
                      <textarea name="description" class="form-control"></textarea>
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <label>Pdf Upload</label>
                      <input type="file" name="file" class="form-control" accept="application/pdf" onchange="ValidatepdfInput(this);" />
                  </div>

                <div class="row">
                  <div class="col-md-6 ml-auto mr-auto">
                    
                              
                    <button type="submit" value="submit" name="submit" class="btn btn-primary btn-round btn-block">Submit</button>
                  </div>
                </div>
              </div>
              </form>

          
                
                <div class="col-md-12">
                  <h3 style="color: black; margin-top: 100px;">View Submission</h3>

               <div class="section section-pricing pricing-5 iframe-extern">
    
        <div class="col-md-12 ml-auto mr-auto text-center">
          
          <div class="nav nav-pills nav-pills-rose">
            <div class="nav-tabs-wrapper">
              <ul class="nav nav-pills" data-tabs="tabs" id="bTab1">

                
                {% for i in restbatches %}
                <li class="nav-item">
                  <a class="nav-link" href="#{{ i['bjoin'] }}" data-toggle="tab">
                    {{ i['batch_name'] }}
                  </a>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>

        <div class="col-md-12 ml-auto mr-auto text-center">
          <div class="tab-content text-center">
            
            {% for i in restbatches %}
            <div class="tab-pane" id="{{ i['bjoin'] }}">
              <p class="description">
                {{ i['batch_name'] }}
              </p>
              <div class="row">
                <div class="col-md-4">
                  <ul class="nav nav-pills nav-pills-danger flex-column" id="profTab1">
                    {% for j in restsub %}
                    {% if j['batch']==i['batch_name'] %}
                    <li class="nav-item"><a class="nav-link" href="#{{ j['tjoin'] }}" data-toggle="tab">{{ j['title'] }}</a></li>
                    {% endif %}
                    {% endfor %}
                    
                  </ul>
                </div>
                <div class="col-md-8" style="color: black;">
                  <div class="tab-content">
                    {% for j in restsub %}
                    {% if j['batch']==i['batch_name'] %}
                    <div class="tab-pane" id="{{ j['tjoin'] }}" style="overflow-x: auto;">
                      {{ j['title'] }}
                      <br><br>
                     
    <table class="table">
                    
    <thead>
        <tr>
            <th>Name</th>
            <th>pdf</th>
            <th>Accept</th>
            <th>Reject</th>
        </tr>
    </thead>
    
      
    <tbody>
      {% if j['qid'] in qidlist %}
      {% for k in j['solution'] %}
  <form method="POST" action="{{url_for('portal.evalsubmission')}}" enctype="multipart/form-data">
    <input type="hidden" name="qid" value="{{ j['qid'] }}"> 
        <input type="hidden" name="email" value="{{ k['email'] }}" id = "{{ k['_id'] }}">
        <tr style="color: black;">
            <td>{{ k['name'] }}</td>
            <td><a href="{{ url_for('portal.static',  filename=k['pdf_link'] ) }}" target="_blank">{{ k['pdf_name'] }}</a></td>
            
            
            
            {% if k['status']=="0" %}
            <td class="td-actions">
                <button type="submit" name="submit_button" value="accept" rel="tooltip" class="btn btn-success btn-round">
                    <i class="material-icons">thumb_up_alt</i>
                </button>
            </td>
            <td class="td-actions">
              <button type="submit" name="submit_button" value="reject" rel="tooltip" class="btn btn-danger btn-round">
                    <i class="material-icons">close</i>
                </button>
            </td>
            {% endif %}
            {% if k['status']=="1" %}
            <td class="td-actions">
                <b style="color: green;">Accepted</b>
            </td>
            <td class="td-actions">
              <button type="submit" name="submit_button" value="reject" rel="tooltip" class="btn btn-danger btn-round">
                    <i class="material-icons">close</i>
                </button>
            </td>
            {% endif %}
            {% if k['status']=="2" %}
            <td class="td-actions">
                <button type="submit" name="submit_button" value="accept" rel="tooltip" class="btn btn-success btn-round">
                    <i class="material-icons">thumb_up_alt</i>
                </button>
            </td>
            <td class="td-actions">
                <b style="color: red;">Rejected</b>
            </td>
            {% endif %}
        </tr>
        
      </form>
        {% endfor %}
        {% endif %}
        
        
    </tbody>
     

 
</table>
                    </div>
                    
                    {% endif %}
                    {% endfor %}
                  </div>

                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        
     
                  
                

                  
              </div>
             



              
              
            </div>
          </div>

            <div class="tab-pane" id="resources">
              <h2 style="color: black; margin-bottom: 40px;">Verify Resources</h2>
              <div class="col-md-8 ml-auto mr-auto" style="overflow-x: auto;">
              <table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Title</th>
            <th>Description</th>
            <th>pdf</th>
            <th>Verify</th>
            <th>Reject</th>
        </tr>
    </thead>
    <tbody>
      
      {% for i in verify_resource %}
      {% if i['status']=='0' %}
      <form method="POST" action="{{url_for('portal.evalresource')}}" enctype="multipart/form-data">
      <input type="hidden" name="rid" value="{{ i['rid'] }}">
        <tr style="color: black;">
            <td>{{ i['author'] }}</td>
            <td>{{ i['title'] }}</td>
            <td>{{ i['description'] }}</td>
            <td><a href="{{ url_for('portal.static',  filename=i['pdf_link'] ) }}" target="_blank">{{ i['pdf_name'] }}</a></td>
            <td class="td-actions">
                <button type="submit" name="submitbtn" value="verify" rel="tooltip" class="btn btn-success btn-round">
                    <i class="material-icons">verified</i>
                </button>
            </td>
            <td class="td-actions">
              <button type="submit" name="submitbtn" value="reject" rel="tooltip" class="btn btn-danger btn-round">
                    <i class="material-icons">close</i>
                </button>
            </td>
        </tr>
         </form>
        {% endif %}
        {% endfor %}
      
        
       
    </tbody>
</table>



</div>


<h2 style="color: black; margin-bottom: 40px; margin-top: 100px;">Verified Resources</h2>
              <div class="col-md-8 ml-auto mr-auto">
              <table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Title</th>
            <th>Description</th>
            <th>pdf</th>
            
        </tr>
    </thead>
    <tbody>
     
      {% for i in verified_resource %}
      {% if i['status']=='1' %}
        <tr style="color: black;">
            <td>{{ i['author'] }}</td>
            <td>{{ i['title'] }}</td>
            <td>{{ i['description'] }}</td>
            <td><a href="{{ url_for('portal.static',  filename=i['pdf_link'] ) }}" target="_blank">{{ i['pdf_name'] }}</a></td>
            
        </tr>
        {% endif %}
        {% endfor %}
      }
        
        
    </tbody>
</table>



</div>



            </div>
          </div>
        </div>
      
      </div>
    </div>
      
      

      
      
    
    </div>
  </div>
</div>


{% endblock %}

{% block javascript %}
<script type="text/javascript">
  $(document).ready(function() {
    $('a[data-toggle="tab"]').on('click', function(e) {
        window.localStorage.setItem('activeTab', $(e.target).attr('href'));
    });
    var activeTab = window.localStorage.getItem('activeTab');
    if (activeTab) {
        
        
        $('#profTab1 a[href="' + activeTab + '"]').tab('show');
        $('#bTab1 a[href="' + activeTab + '"]').tab('show');
        $('#mainTab a[href="' + activeTab + '"]').tab('show');
        //window.localStorage.removeItem("activeTab");
    }
});
</script>






{% endblock %}