<div class="row">

    <div class="col-md-4">
      <div class="card card-profile">
        <div class="card-header card-header-image">
          <a href="#pablo">
            <img class="img" src="./static/img/examples/card-profile1.jpg">
          </a>
        </div>
        <div class="card-body ">
          <h4 class="card-title">Alec Thompson</h4>
          <h6 class="card-category text-gray">CEO / Co-Founder</h6>
        </div>
        <div class="card-footer justify-content-center">
          <a href="#pablo" class="btn btn-just-icon btn-twitter btn-round">
            <i class="fa fa-twitter"></i>
          </a>
          <a href="#pablo" class="btn btn-just-icon btn-facebook btn-round">
            <i class="fa fa-facebook-square"></i>
          </a>
          <a href="#pablo" class="btn btn-just-icon btn-google btn-round">
            <i class="fa fa-google"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-header card-header-image">
            <a href="#pablo">
              <img class="img" src="./static/img/examples/card-profile1.jpg">
            </a>
          </div>
          <div class="card-body ">
            <h4 class="card-title">Alec Thompson</h4>
            <h6 class="card-category text-gray">CEO / Co-Founder</h6>
          </div>
          <div class="card-footer justify-content-center">
            <a href="#pablo" class="btn btn-just-icon btn-twitter btn-round">
              <i class="fa fa-twitter"></i>
            </a>
            <a href="#pablo" class="btn btn-just-icon btn-facebook btn-round">
              <i class="fa fa-facebook-square"></i>
            </a>
            <a href="#pablo" class="btn btn-just-icon btn-google btn-round">
              <i class="fa fa-google"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-header card-header-image">
            <a href="#pablo">
              <img class="img" src="./static/img/examples/card-profile1.jpg">
            </a>
          </div>
          <div class="card-body ">
            <h4 class="card-title">Alec Thompson</h4>
            <h6 class="card-category text-gray">CEO / Co-Founder</h6>
          </div>
          <div class="card-footer justify-content-center">
            <a href="#pablo" class="btn btn-just-icon btn-twitter btn-round">
              <i class="fa fa-twitter"></i>
            </a>
            <a href="#pablo" class="btn btn-just-icon btn-facebook btn-round">
              <i class="fa fa-facebook-square"></i>
            </a>
            <a href="#pablo" class="btn btn-just-icon btn-google btn-round">
              <i class="fa fa-google"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-header card-header-image">
            <a href="#pablo">
              <img class="img" src="./static/img/examples/card-profile1.jpg">
            </a>
          </div>
          <div class="card-body ">
            <h4 class="card-title">Alec Thompson</h4>
            <h6 class="card-category text-gray">CEO / Co-Founder</h6>
          </div>
          <div class="card-footer justify-content-center">
            <a href="#pablo" class="btn btn-just-icon btn-twitter btn-round">
              <i class="fa fa-twitter"></i>
            </a>
            <a href="#pablo" class="btn btn-just-icon btn-facebook btn-round">
              <i class="fa fa-facebook-square"></i>
            </a>
            <a href="#pablo" class="btn btn-just-icon btn-google btn-round">
              <i class="fa fa-google"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-header card-header-image">
            <a href="#pablo">
              <img class="img" src="./static/img/examples/card-profile1.jpg">
            </a>
          </div>
          <div class="card-body ">
            <h4 class="card-title">Alec Thompson</h4>
            <h6 class="card-category text-gray">CEO / Co-Founder</h6>
          </div>
          <div class="card-footer justify-content-center">
            <a href="#pablo" class="btn btn-just-icon btn-twitter btn-round">
              <i class="fa fa-twitter"></i>
            </a>
            <a href="#pablo" class="btn btn-just-icon btn-facebook btn-round">
              <i class="fa fa-facebook-square"></i>
            </a>
            <a href="#pablo" class="btn btn-just-icon btn-google btn-round">
              <i class="fa fa-google"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-header card-header-image">
            <a href="#pablo">
              <img class="img" src="./static/img/examples/card-profile1.jpg">
            </a>
          </div>
          <div class="card-body ">
            <h4 class="card-title">Alec Thompson</h4>
            <h6 class="card-category text-gray">CEO / Co-Founder</h6>
          </div>
          <div class="card-footer justify-content-center">
            <a href="#pablo" class="btn btn-just-icon btn-twitter btn-round">
              <i class="fa fa-twitter"></i>
            </a>
            <a href="#pablo" class="btn btn-just-icon btn-facebook btn-round">
              <i class="fa fa-facebook-square"></i>
            </a>
            <a href="#pablo" class="btn btn-just-icon btn-google btn-round">
              <i class="fa fa-google"></i>
            </a>
          </div>
        </div>
      </div>
      
    

  </div>