{% extends 'portal/base.html' %}
{% block main_page %}


    {% include 'portal/header.html' %}

<div class="page-header header-filter header-small" data-parallax="true" style="background-image: url('{{url_for('portal.static', filename='img/mit_background.jpg')}}');" style="height: 50vh;"></div>


  <div class="main main-raised" style="margin-top: -55vh;">
    <div class="container">
      <div class="about-description text-center">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
              <img src="{{url_for('portal.static', filename= user['profile_pic_link'] )}}" style="border-radius: 50%; margin-top: 20px;" height="300px" width="300px">
              <h3 style="color: black;"><b>{{ user['first_name'] }} {{ user['last_name'] }}</b></h3>
              <h4 style="color: black;">{{ user['user_type'] }}</h4>
              {% with messages = get_flashed_messages() %}
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
        aria-hidden="true">×</span></button>
    {{message}}
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}
          </div>

        </div>
      </div>
      
      <div class="about-services features-2">
        
        <div class="row">
          <div class="col-md-4">
            <div class="info info-horizontal">
              <div class="icon icon-rose">
                <i class="material-icons">gesture</i>
              </div>
              <div class="description">
                <h3 class="info-title" style="color: black;">Social Media Links</h3>
              </div>
            </div>

            <div class="row">
 

</div>
            
            <div class="row">
  <div class="col-md-6 ml-auto mr-auto" >
    <div class="card card-pricing " style="background: #00ACEE;" >
      <div class="card-body ">
        <a href="{{ user['twitter'] }}" style="color: white;">
        <div class="icon">
            <i class="fa fa-twitter"></i>
        </div>
        </a>
        
        </div>
    </div>
  </div>
  <div class="col-md-6 ml-auto mr-auto" >
    <div class="card card-pricing" style="background: #3B5998;" >
      <div class="card-body ">
        <a href="{{ user['facebook'] }}" style="color: white;">
        <div class="icon">
            <i class="fa fa-facebook"></i>
        </div>
        </a>
        
        </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-6 ml-auto mr-auto" >
    <div class="card card-pricing " style="background: #00AFF0;" >
      <div class="card-body ">
        <a href="{{ user['skype'] }}" style="color: white;">
        <div class="icon">
            <i class="fa fa-skype"></i>
        </div>
        </a>
        
        </div>
    </div>
  </div>
  <div class="col-md-6 ml-auto mr-auto" >
    <div class="card card-pricing" style="background: #211F1F" >
      <div class="card-body ">
        <a href="{{ user['github'] }}" style="color: white;">
        <div class="icon">
            <i class="fa fa-github"></i>
        </div>
        </a>
        
        </div>
    </div>
  </div>
</div>

            
            
            
          </div>
          <div class="col-md-8 text-center">
            <div class="row">
          <div class="col-md-12">
            <div class="profile-tabs">
              <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist" id="profTab">
                <li class="nav-item">
                  <a class="nav-link active" href="#about" role="tab" data-toggle="tab">
                    <i class="material-icons">account_circle</i>
                    About
                  </a>
                </li>
                {% if session['user_type']=="Research Scholar" %}
                <li class="nav-item">
                  <a class="nav-link" href="#submission" role="tab" data-toggle="tab">
                    <i class="material-icons">rate_review</i>
                    Submissions
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#resource" role="tab" data-toggle="tab">
                    <i class="material-icons">bookmarks</i>
                    Resource
                  </a>
                </li>
                {% endif %}
                <li class="nav-item">
                  <a class="nav-link" href="#collab" role="tab" data-toggle="tab">
                    <i class="material-icons">group_work</i>
                    Collaboration
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="tab-content tab-space">
          <div class="tab-pane active text-center gallery" id="about">
            <div class="row">
              <div class="col-md-8 ml-auto mr-auto">
                {% if session['user_type']=="Research Scholar" %}
            <div class="input-group" style="margin-bottom: 20px;">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="material-icons">category</i>
                        </span>
                    </div>
                        <input type="text" class="form-control text-center" value="{{ user['batch'] }}" disabled>
                  </div>
                  {% endif %}
                <div class="input-group" style="margin-bottom: 20px;">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="material-icons">phone</i>
                        </span>
                    </div>
                        <input type="text" class="form-control text-center" value="{{ user['phone'] }}" disabled>
                  </div>
                  <div class="input-group" style="margin-bottom: 20px;">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="material-icons">email</i>
                        </span>
                    </div>
                        <input type="text" class="form-control text-center" value="{{ user['email'] }}" disabled>
                  </div>

                  <div class="input-group" style="margin-bottom: 20px;">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="material-icons">home</i>
                        </span>
                    </div>
                        <input type="text" class="form-control text-center" value="{{ user['address'] }}" disabled>
                  </div>

                  <div class="input-group" style="margin-bottom: 20px;">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="material-icons">cake</i>
                        </span>
                    </div>
                        <input type="text" class="form-control text-center" value="{{ user['dob'] }}" disabled>
                  </div>

                  <div class="input-group" style="margin-bottom: 20px;">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="material-icons">person_pin</i>
                        </span>
                    </div>
                        <input type="text" class="form-control text-center" value="{{ user['gender'] }}" disabled>
                  </div>

                  <div class="input-group" style="margin-bottom: 20px;">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="material-icons">location_on</i>
                        </span>
                    </div>
                        <input type="text" class="form-control text-center" value="{{ user['nationality'] }}" disabled>
                  </div>

                  <div class="input-group" style="margin-bottom: 20px;">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="material-icons">school</i>
                        </span>
                    </div>
                        <input type="text" class="form-control text-center" value="{{ user['department'] }}" disabled>
                  </div>
                  {% if session['user_type']=="Research Scholar" %}
                  <div class="input-group" style="margin-bottom: 20px;">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="fa fa-group"></i>
                        </span>
                    </div>
                        <input type="text" class="form-control text-center" value="{{ user['supervisor'] }}" disabled>
                  </div>

                  <div class="input-group" style="margin-bottom: 20px;">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="fa fa-group"></i>
                        </span>
                    </div>
                        <input type="text" class="form-control text-center" value="{{ user['cosupervisor'] }}" disabled>
                  </div>
                  {% endif %}
                  {% if session['user_type']=="Research Supervisor" or session['user_type']=="Research Co-Supervisor" %}
                  <div class="input-group" style="margin-bottom: 20px;">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="fa fa-group"></i>
                        </span>
                    </div>
                        <input type="text" class="form-control text-center" value="{{ user['subdepartment'] }}" disabled>
                  </div>
                  {% endif %}

                
              </div>
              
            </div>
          </div>
          <div class="tab-pane text-center gallery" id="submission">
            <div class="row">

          
              <div class="col-md-12">
                <div class="row">
                  
{% for i in quests %}
{% if i['batch']==user['batch'] and i['department']==user['department'] %}

                  <div class="col-md-6">
                    <form method="POST" action="{{url_for('portal.submission_answers')}}" enctype="multipart/form-data">
      <div class="card">
        {% if i['qid'] in qidlist %}
        {% for j in i['solution'] %}
               {% if j['email']==session['email'] and j['status']=="1"  %}
          <div class="card-header card-header-text card-header-success">
            {% endif %}
            {% if j['email']==session['email'] and j['status']=="0"  %}
          <div class="card-header card-header-text card-header-warning">
            {% endif %}
            {% if j['email']==session['email'] and j['status']=="2"  %}
          <div class="card-header card-header-text card-header-danger">
            {% endif %}
            {% endfor %}
            {% else %}
            <div class="card-header card-header-text card-header-primary">
            {% endif %}
            <div class="card-text">
              <h4 class="card-title">{{ i['title'] }}</h4>
            </div>
          </div>
          <div class="card-body">
            <input type="hidden" name="linker" value="{{ i['qid'] }}">
              <div class="row">
                Description : {{ i['description'] }}
              </div>
              <div class="row">
                File : <a href="{{ url_for('portal.static',  filename=i['pdf'] ) }}" target="_blank"><b>{{ i['pdfname'] }}</b></a>
              </div>
              <div class="row">
                Author : {{ i['author'] }}
              </div>
              
              <div class="row" style="color: green; font-size: 15px;">
                <b>Posted Date : {{ i['date_uploaded'] }}</b>
              </div>
              <div class="row" style="color: red; font-size: 15px;">
                <b>Last Date : {{ i['deadline'] }}</b>
              </div>
              
              {% if i['qid'] in qidlist %}
               {% for j in i['solution'] %}
               {% if j['email']==session['email'] %}


                
                <div class="row">
                Attached File : <a href="{{ url_for('portal.static',  filename=j['pdf_link'] ) }}" target="_blank"><b>{{ j['pdf_name'] }}</b></a>
                
                </div>
                

                {% endif %}
              {% endfor %}
              {% else %}
               Upload pdf

                
                <div class="row">
                <input type="file" name="file" class="form-control" required>
                
                </div>
              {% endif %}


               {% if i['qid'] in qidlist %}
               {% for j in i['solution'] %}
               {% if j['email']==session['email'] and j['status']=="1" %}
               <hr>
              <b style="color: green;">Approved</b>
              {% endif %}
              {% if j['email']==session['email'] and j['status']=="0" %}
              <hr>
              <b style="color: blue;">Submitted for evaluation</b>
              {% endif %}
              {% if j['email']==session['email'] and j['status']=="2" %}
              <hr>
              <b style="color: red;">Rejected</b>
              {% endif %}
              {% endfor %}
              {% else %}
              <button type="submit" class="btn btn-success btn-round">Turn In</button>
              {% endif %}
              
              
              
          </div>
      </div>
      </form>

              </div>
              {% endif %}
              {% endfor %}




            


            </div>
            </div>
            



            </div>
          </div>
          <div class="tab-pane text-center gallery" id="resource">
            <div class="row">
              <div class="col-md-12 ml-auto">
                <h3 style="color: black;">Add Resource</h3>
                <div class="row">
                  <div class="col-md-6 ml-auto mr-auto">
                <form action="{{url_for('portal.student_resource')}}" method="POST" enctype = "multipart/form-data">
                  <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" name="title" class="form-control" id="title" required>
                  </div>
                  <div class="form-group">
                    <label for="description">Description</label>
                    <textarea name="description" class="form-control" id="description" required></textarea> 
                  </div>
                  
                  
                    <label class="form-control">Upload Single Pdf file</label>
              
             
             <input type="file" name="file" class="form-control" id="file" required>
                 

<div class="form-group">
    <label for="exampleFormControlSelect1">Select Supervisor/Co-Supervisor</label>
    <select class="form-control"  id="exampleFormControlSelect1" name="supervisor">
      <option value="{{ user['supervisor'] }}">{{ user['supervisor'] }}</option>
      <option value="{{ user['cosupervisor'] }}">{{ user['cosupervisor'] }}</option>
    </select>
  </div>

  <div class="form-group">
    <label>Send for Verification</label>
    <button class="btn btn-success btn-round">Submit</button>
  </div>
  

   </form>

                </div>
                </div>



                <h3 style="color: black;">My Resources</h3>

    <div class="card card-nav-tabs">
  <div class="card-header card-header-success">
    Verified
  </div>
  <div class="card-body" style="overflow-x: auto;">
    <table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Title</th>
            <th>Description</th>
            <th>pdf</th>
            
        </tr>
    </thead>
    <tbody>
     
      {% for i in resource %}
      {% if i['status']=='1' and i['email']==session['id'] %}
        <tr style="color: black;">
            <td>{{ i['author'] }}</td>
            <td>{{ i['title'] }}</td>
            <td>{{ i['description'] }}</td>
            <td><a href="{{ url_for('portal.static',  filename=i['pdf_link'] ) }}" target="_blank">{{ i['pdf_name'] }}</a></td>
            
        </tr>
        {% endif %}
        {% endfor %}
      
        
        
    </tbody>
</table>
  </div>
</div>

  </div>

  <div class="card card-nav-tabs">
  <div class="card-header card-header-warning">
    Pending
  </div>
  <div class="card-body" style="overflow-x: auto;">
    <table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Title</th>
            <th>Description</th>
            <th>pdf</th>
            
        </tr>
    </thead>
    <tbody>
     
      {% for i in resource1 %}
      {% if i['status']=='0' and i['email']==session['id'] %}
        <tr style="color: black;">
            <td>{{ i['author'] }}</td>
            <td>{{ i['title'] }}</td>
            <td>{{ i['description'] }}</td>
            <td><a href="{{ url_for('portal.static',  filename=i['pdf_link'] ) }}" target="_blank">{{ i['pdf_name'] }}</a></td>
            
        </tr>
        {% endif %}
        {% endfor %}
      
        
        
    </tbody>
</table>
</div>

  </div>

  <div class="card card-nav-tabs">
  <div class="card-header card-header-danger">
    Rejected
  </div>
  <div class="card-body" style="overflow-x: auto;">
    <table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Title</th>
            <th>Description</th>
            <th>pdf</th>
            
        </tr>
    </thead>
    <tbody>
     
      {% for i in resource2 %}
      {% if i['status']=='2' and i['email']==session['id'] %}
        <tr style="color: black;">
            <td>{{ i['author'] }}</td>
            <td>{{ i['title'] }}</td>
            <td>{{ i['description'] }}</td>
            <td><a href="{{ url_for('portal.static',  filename=i['pdf_link'] ) }}" target="_blank">{{ i['pdf_name'] }}</a></td>
            
        </tr>
        {% endif %}
        {% endfor %}
      
        
        
    </tbody>
</table>
  </div>
</div>

  </div>
              
            </div>


 <div class="tab-pane text-center gallery" id="collab">
           <div class="row">
              <div class="col-md-12 ml-auto">
    {% if session['user_type']=="Research Supervisor" or session['user_type']=="Research Co-Supervisor" %}
                <h3 style="color: black;">Add Researcher for Collaboration</h3>
               
                  
    <form action="{{url_for('portal.profile')}}" method="POST" enctype = "multipart/form-data">
                  <div class="col-md-12">
                  <div class="col-md-6 ml-auto mr-auto">
                  <div class="form-group">
                    <label for="email2">Email</label>
                    <input type="email" name="email2" class="form-control" id="email" required>
                  </div>
                </div>

                </div>

  <div class="form-group">
    <label>Get User</label>
    <button class="btn btn-success btn-round">Fetch</button>
  </div>
  

   </form>
{% if fuser %}
   <div class="card card-nav-tabs">
  <div class="card-header card-header-info">
    Fetched User
  </div>
  <div class="card-body" style="overflow-x: auto;">
     <form action="{{url_for('portal.add_collab')}}" method="POST" enctype = "multipart/form-data">
    <table class="table">
    <thead>
        <tr>
          <th>Profile Pic</th>
            <th>Name</th>
            <th>Batch</th>
            <th>Department</th>           
        </tr>
    </thead>
    <tbody>
     
     
        <tr style="color: black;">
            <td><img src="{{ url_for('portal.static',  filename=fuser['profile_pic_link'] ) }}" height="100px" width="100px" style="border-radius:50%;"></td>
            <td>{{ fuser['first_name'] }} {{ fuser['last_name'] }}</td>
            <td>{{ fuser['batch'] }}</td>
            <td>{{ fuser['department'] }}</td>
            
        </tr>
        <input type="hidden" name="email2" value="{{ fuser['email'] }}">
        <input type="hidden" name="batch2" value="{{ fuser['batch'] }}">
        <input type="hidden" name="dept2" value="{{ fuser['department'] }}">
        <input type="hidden" name="fname" value="{{ fuser['first_name'] }}">
        <input type="hidden" name="lname" value="{{ fuser['last_name'] }}">
      

     
      
        
    </tbody>
</table>

                    <div class="col-md-6 ml-auto mr-auto">
                    <div class="form-group">
                    <label for="ctitle">Title</label>
                    <input type="text" name="ctitle" class="form-control" id="ctitle" required>
                  </div>  
                  <div class="form-group">
                    <label for="cdesc">Description</label>
                    <textarea name="cdesc" class="form-control" id="cdesc" required></textarea>
                  </div>

                 
                   
                    <input name="file" type="file" single="" class="form-control" id="cdesc" required>
                   
                      <button class="btn btn-success btn-round">Collab</button>
            <a class="btn btn-danger btn-round" href="{{url_for('portal.profile')}}">Cancel</a>

                  </div>   
</form>
  </div>
</div>
{% endif %}

{% endif %}

               


                



                <h3 style="color: black;">My Collaborations</h3>

    <div class="card card-nav-tabs">
  <div class="card-header card-header-info">
    Collaborations
  </div>
  <div class="card-body" style="overflow-x: auto;">
    <table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Title</th>
            <th>Description</th>
            <th>pdf</th>
            
        </tr>
    </thead>
    <tbody>
     
      {% for i in resource %}
      {% if i['status']=='1' and i['email']==session['id'] %}
        <tr style="color: black;">
            <td>{{ i['author'] }}</td>
            <td>{{ i['title'] }}</td>
            <td>{{ i['description'] }}</td>
            <td><a href="{{ url_for('portal.static',  filename=i['pdf_link'] ) }}" target="_blank">{{ i['pdf_name'] }}</a></td>
            
        </tr>
        {% endif %}
        {% endfor %}
      
        
        
    </tbody>
</table>
  </div>
</div>

  </div>


  </div>




          </div>
        </div>




          </div>
          
        </div>
      </div>

      <div class="about-description text-center" style="margin-bottom: 50px;">
        <div class="row" >
          <div class="col-md-8 ml-auto mr-auto">
              <a href="{{url_for('portal.logout')}}" class="btn btn-danger btn-round">Log Out</a>
              
          </div>
        </div>
      </div>
      
    
    </div>
  </div>



{% endblock %}


{% block javascript %}



<script type="text/javascript">
  $(document).ready(function() {
    $('a[data-toggle="tab"]').on('click', function(e) {
        window.localStorage.setItem('activeTab', $(e.target).attr('href'));
    });
    var activeTab = window.localStorage.getItem('activeTab');
    if (activeTab) {
        $('#profTab a[href="' + activeTab + '"]').tab('show');
        window.localStorage.removeItem("activeTab");
    }
});
</script>





{% endblock %}