{% extends 'portal/base.html' %}
{% block main_page %}

<div class="header-2" style="height: 50vh;">
    {% include 'portal/header.html' %}
<div class="page-header header-filter header-small" data-parallax="true" style="background-image: url('{{url_for('portal.static', filename='img/mit_background.jpg')}}');"></div>

  </div>

  <div class="main main-raised">
    <div class="container">
      <div class="about-description text-center">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
              <img src="{{url_for('portal.static', filename='img/faces/marc.jpg')}}" style="border-radius: 50%; margin-top: 20px;" height="300px" width="300px">
              <h3 style="color: black;"><b>{{ user['first_name'] }} {{ user['last_name'] }}</b></h3>
              <h4 style="color: black;">{{ user['user_type'] }}</h4>
          </div>
        </div>
      </div>
      
      <div class="about-services features-2">
        
        <div class="row">
          <div class="col-md-4">
            <div class="info info-horizontal">
              <div class="icon icon-rose">
                <i class="material-icons">gesture</i>
              </div>
              <div class="description">
                <h3 class="info-title" style="color: black;">Social Media Links</h3>
              </div>
            </div>
            <div class="info info-horizontal">
              <div class="icon icon-rose">
                <i class="material-icons">email</i>
              </div>
              <div class="description">
                <h4 class="info-title" style="color: black;"><a href="#" style="color: blue;">{{ user['email'] }}</a></h4>
              </div>
            </div>
            <div class="info info-horizontal">
              <div class="icon icon-rose">
                <i class="fa fa-twitter"></i>
              </div>
              <div class="description">
                <h4 class="info-title" style="color: black;"><a href="#" style="color: blue;">{{ user['twitter'] }}</a></h4>
              </div>
            </div>
            <div class="info info-horizontal">
              <div class="icon icon-rose">
                <i class="fa fa-facebook"></i>
              </div>
              <div class="description">
                <h4 class="info-title" style="color: black;"><a href="#" style="color: blue;">{{ user['twitter'] }}</a></h4>
              </div>
            </div>
            <div class="info info-horizontal">
              <div class="icon icon-rose">
                <i class="fa fa-skype"></i>
              </div>
              <div class="description">
                <h4 class="info-title" style="color: black;"><a href="#" style="color: blue;">{{ user['skype'] }}</a></h4>
              </div>
            </div>
            <div class="info info-horizontal">
              <div class="icon icon-rose">
                <i class="fa fa-github"></i>
              </div>
              <div class="description">
                <h4 class="info-title" style="color: black;"><a href="#" style="color: blue;">{{ user['github'] }}</a></h4>
              </div>
            </div>
          </div>
          <div class="col-md-8 text-center">
            <div class="row">
          <div class="col-md-12">
            <div class="profile-tabs">
              <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" href="#about" role="tab" data-toggle="tab">
                    <i class="material-icons">account_circle</i>
                    About
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#works" role="tab" data-toggle="tab">
                    <i class="material-icons">rate_review</i>
                    Submissions
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#favorite" role="tab" data-toggle="tab">
                    <i class="material-icons">bookmarks</i>
                    Resource
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="tab-content tab-space">
          <div class="tab-pane active text-center gallery" id="about">
            <div class="row">
              <div class="col-md-8 ml-auto mr-auto">
            
                <div class="input-group" style="margin-bottom: 20px;">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="material-icons">phone</i>
                        </span>
                    </div>
                        <input type="text" class="form-control text-center" value="{{ user['phone'] }}" disabled>
                  </div>

                  <div class="input-group" style="margin-bottom: 20px;">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="material-icons">home</i>
                        </span>
                    </div>
                        <input type="text" class="form-control text-center" value="{{ user['address'] }}" disabled>
                  </div>

                  <div class="input-group" style="margin-bottom: 20px;">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="material-icons">cake</i>
                        </span>
                    </div>
                        <input type="text" class="form-control text-center" value="{{ user['dob'] }}" disabled>
                  </div>

                  <div class="input-group" style="margin-bottom: 20px;">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="material-icons">person_pin</i>
                        </span>
                    </div>
                        <input type="text" class="form-control text-center" value="{{ user['gender'] }}" disabled>
                  </div>

                  <div class="input-group" style="margin-bottom: 20px;">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="material-icons">location_on</i>
                        </span>
                    </div>
                        <input type="text" class="form-control text-center" value="{{ user['nationality'] }}" disabled>
                  </div>

                  <div class="input-group" style="margin-bottom: 20px;">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="material-icons">school</i>
                        </span>
                    </div>
                        <input type="text" class="form-control text-center" value="{{ user['department'] }}" disabled>
                  </div>

                  <div class="input-group" style="margin-bottom: 20px;">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="fa fa-group"></i>
                        </span>
                    </div>
                        <input type="text" class="form-control text-center" value="{{ user['supervisor'] }}" disabled>
                  </div>

                  <div class="input-group" style="margin-bottom: 20px;">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="fa fa-group"></i>
                        </span>
                    </div>
                        <input type="text" class="form-control text-center" value="{{ user['cosupervisor'] }}" disabled>
                  </div>

                
              </div>
              
            </div>
          </div>
          <div class="tab-pane text-center gallery" id="works">
            <div class="row">
              <div class="col-md-12 ml-auto">
                <img src="../assets/img/examples/olu-eletu.jpg" class="rounded">
                <img src="../assets/img/examples/clem-onojeghuo.jpg" class="rounded">
                <img src="../assets/img/examples/cynthia-del-rio.jpg" class="rounded">
              </div>
              <div class="col-md-12 mr-auto">
                <img src="../assets/img/examples/mariya-georgieva.jpg" class="rounded">
                <img src="../assets/img/examples/clem-onojegaw.jpg" class="rounded">
              </div>
            </div>
          </div>
          <div class="tab-pane text-center gallery" id="favorite">
            <div class="row">
              <div class="col-md-12 ml-auto">
                <img src="../assets/img/examples/mariya-georgieva.jpg" class="rounded">
                <img src="../assets/img/examples/studio-3.jpg" class="rounded">
              </div>
              <div class="col-md-12 mr-auto">
                <img src="../assets/img/examples/clem-onojeghuo.jpg" class="rounded">
                <img src="../assets/img/examples/olu-eletu.jpg" class="rounded">
                <img src="../assets/img/examples/studio-1.jpg" class="rounded">
              </div>
            </div>
          </div>
        </div>




          </div>
          
        </div>
      </div>

      <div class="about-description text-center" style="margin-bottom: 50px;">
        <div class="row" >
          <div class="col-md-8 ml-auto mr-auto">

              <a href="#" class="btn btn-info btn-round">Edit</a>
              <a href="{{url_for('portal.logout')}}" class="btn btn-danger btn-round">Log Out</a>
              
          </div>
        </div>
      </div>
      
    
    </div>
  </div>



{% endblock %}