
<!DOCTYPE html>
<html lang="en">

<head>
  {% include 'admin/links.html' %}
</head>

<body class="login-page sidebar-collapse" style="overflow-x: hidden;">

  <div class="page-header header-filter" style="background-image: url('{{url_for('portal.static', filename='img/mit_background.jpg')}}'); background-size: cover; background-position: top center;">
    <div class="container">
      
      <div class="row" style="margin-top: 30%;">
        <div class="col-lg-4 col-md-6 col-sm-8 ml-auto mr-auto">
          <form class="form" method="POST" action="{{url_for('admin.login')}}" name="login">
            <div class="card card-login card-hidden">
              <div class="card-header card-header-primary text-center">
                <h4 class="card-title">MIT R&C Admin Login</h4>

                
              </div>
              <div class="card-body ">

  {% with messages = get_flashed_messages() %}
  {% if messages %}
  {% for message in messages %}

  <div class="alert alert-danger alert-dismissible" role="alert">
 
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
        aria-hidden="true">×</span></button>
    {{message}}
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}
                

                

                
                <span class="bmd-form-group">
                  <div class="input-group" style="margin-bottom: 30px; margin-top: 20px;">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons" style="color: green;">lock_outline</i>
                      </span>
                    </div>
                    <input type="text" class="form-control" placeholder="Enter email" name="username" id="username" required>
                  </div>
          
                </span>

                <span class="bmd-form-group">
                  <div class="input-group" style="margin-bottom: 30px;">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons" style="color: green;">lock_outline</i>
                      </span>
                    </div>
                    <input type="password" class="form-control" placeholder="Enter password" name="password" id="password" required>
                  </div>
          
                </span>

                

             
              <div class="card-footer justify-content-center">
                <button type="submit" name="login" class="btn btn-success btn-round"><b>Login</b></button>
              </div>
               </div>




            </div>
            
          </form>
        </div>
      </div>
    </div>
  </div>
    

  
{% include 'admin/scripts.html' %}

</body>

</html>