<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'admin/links.html' %}
    {% include 'admin/file_upload_validation.html' %}
    {% block css %}
    {% endblock %}





    <style>
        .blurred-box {
            position: relative;

            background: inherit;
            overflow: hidden;
        }

        .blurred-box:after {

            box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.05);
            filter: blur(10px);
        }
    </style>
</head>

<body class="">

  <div class="wrapper ">
    {% include 'admin/sidebar.html' %}
    <div class="main-panel">
      <!-- Navbar -->
      {% include 'admin/navbar.html' %}
      <!-- End Navbar -->


        {% block main_page %}
        {% endblock %}

</div>
</div>

<footer class="footer">
        <div class="container-fluid">
          
          <div class="copyright float-right">
            &copy;
            <script>
              document.write(new Date().getFullYear())
            </script>, made with <i class="material-icons">favorite</i> by
            <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a> for a better web.
          </div>
        </div>
      </footer>

    
    {% include 'admin/scripts.html' %}
</body>

</html>