{% extends 'admin/base.html' %} 
{% block main_page %} 

      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6 mx-auto">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Admin DashBoard</h4>
                  <p class="card-category">MIT ADT Research & Consultancy Portal</p>
                </div>
                <div class="card-body">
                <h2>Welcome to Admin Dashboard</h2>
                <button class="btn btn-primary btn-round">Reset Password</button>
                <a href="{{url_for('admin.logout')}}" class="btn btn-primary btn-round">Logout</a>
                
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
      

{% endblock %}