{% extends 'admin/base.html' %} 
{% block main_page %} 


      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6 mx-auto">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title" id="page_name">Register Supervisors</h4>
                  <p class="card-category">Add Supervisors and Co-Supervisors</p>
                </div>
                <div class="card-body">
                {% with messages = get_flashed_messages() %}
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
        aria-hidden="true">×</span></button>
    {{message}}
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}
                <form class="text-center" action="{{url_for('admin.supervisors_registration')}}" method="POST" enctype="multipart/form-data">
                  <div class="input-group" style="margin-bottom: 20px;">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="material-icons">integration_instructions</i>
                        </span>
                    </div>
                        <select class="form-control" name="designation" required>
                          <option value="Research Supervisor">Research Supervisor</option>
                          <option value="Research Co-Supervisor">Research Co-Supervisor</option>
                        </select>
                  </div>
                  <div class="input-group" style="margin-bottom: 20px;">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="material-icons">perm_identity</i>
                        </span>
                    </div>
                        <input type="text" class="form-control" placeholder="First Name" name="first_name" required> 
                  </div>
                  <div class="input-group" style="margin-bottom: 20px;">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="material-icons">perm_identity</i>
                        </span>
                    </div>
                        <input type="text" class="form-control" placeholder="Last Name" name="last_name" required>
                  </div>
                  <div class="input-group" style="margin-bottom: 20px;">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="material-icons">phone</i>
                        </span>
                    </div>
                        <input type="text" class="form-control" placeholder="Mobile No" name="phone" required>
                  </div>
                  <div class="input-group" style="margin-bottom: 20px;">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="material-icons">home</i>
                        </span>
                    </div>
                        <input type="text" class="form-control" placeholder="Address" name="address" required>
                  </div>
                  <div class="input-group" style="margin-bottom: 20px;">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="material-icons">email</i>
                        </span>
                    </div>
                        <input type="email" class="form-control" placeholder="Email Id" name="email" required>
                  </div>
                  <div class="input-group" style="margin-bottom: 20px;">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="material-icons">cake</i>
                        </span>
                    </div>
                        <input type="date" class="form-control" id="dob" name="dob" required>
                  </div>
                  <div class="input-group" style="margin-bottom: 20px;">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="material-icons">person_pin</i>
                        </span>
                    </div>
                        <select class="form-control" name="gender" required>
                          <option value="0">Gender</option>
                          <option value="Male">Male</option>
                          <option value="Female">Female</option>
                          <option value="Prefer not to Say">Prefer not to Say</option>
                        </select>
                  </div>
                  <div class="input-group" style="margin-bottom: 20px;">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="material-icons">location_on</i>
                        </span>
                    </div>
                        <input type="text" class="form-control" placeholder="Nationality" name="nationality" required>
                  </div>
                  <div class="input-group" style="margin-bottom: 20px;">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="fa fa-twitter"></i>
                        </span>
                    </div>
                        <input type="text" class="form-control" placeholder="Twitter Profile Link" name="twitter">
                  </div>
                  <div class="input-group" style="margin-bottom: 20px;">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="fa fa-facebook"></i>
                        </span>
                    </div>
                        <input type="text" class="form-control" placeholder="Facebook Profile Link" name="facebook">
                  </div>
                  <div class="input-group" style="margin-bottom: 20px;">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="fa fa-skype"></i>
                        </span>
                    </div>
                        <input type="text" class="form-control" placeholder="Skype Profile Link" name="skype">
                  </div>
                  <div class="input-group" style="margin-bottom: 20px;">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="fa fa-github"></i>
                        </span>
                    </div>
                        <input type="text" class="form-control" placeholder="Repository Profile Link" name="repos">
                  </div>
                  <div class="input-group" style="margin-bottom: 20px;">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="fa fa-group"></i>
                        </span>
                    </div>
                        <select class="form-control" id="departmentschange" name="department" required>
                          <option value="None">Select Department</option>
                          <option value="Management">Management</option>
                          <option value="Bioengineering Sciences and Research">Bioengineering Sciences and Research</option>
                          <option value="Food Technology">Food Technology</option>
                          <option value="Applied Art">Applied Art</option>
                          <option value="Design">Design</option>
                          <option value="Vedic Sciences">Vedic Sciences</option>
                          <option value="Education">Education</option>
                          <option value="Engineering">Engineering</option>
                        </select>
                  </div>
                  <div class="input-group" style="margin-bottom: 20px; display: none;" id="Management">
                    
                        <select class="form-control" name="subdepartment1">
                          <option value="None">Select Sub Department</option>
                          <option value="None">None</option>
                        </select>
                  </div>
                  <div class="input-group" style="margin-bottom: 20px; display: none;" id="BioengineeringSciencesandResearch">
                    
                        <select class="form-control" name="subdepartment2">
                          <option value="None">Select Sub Department</option>
                          <option value="None">None</option>
                        </select>
                  </div>
                  <div class="input-group" style="margin-bottom: 20px; display: none;" id="FoodTechnology">
                    
                        <select class="form-control" name="subdepartment3">
                          <option value="None">Select Sub Department</option>
                          <option value="None">None</option>
                        </select>
                  </div>
                  <div class="input-group" style="margin-bottom: 20px; display: none;" id="AppliedArt">
                    
                        <select class="form-control" name="subdepartment4">
                          <option value="None">Select Sub Department</option>
                          <option value="None">None</option>
                        </select>
                  </div>
                  <div class="input-group" style="margin-bottom: 20px; display: none;" id="Design">
                    
                        <select class="form-control" name="subdepartment5">
                          <option value="None">Select Sub Department</option>
                          <option value="None">None</option>
                        </select>
                  </div>
                  <div class="input-group" style="margin-bottom: 20px; display: none;" id="VedicSciences">
                    
                        <select class="form-control" name="subdepartment6">
                          <option value="None">Select Sub Department</option>
                          <option value="None">None</option>
                        </select>
                  </div>
                  <div class="input-group" style="margin-bottom: 20px; display: none;" id="Education">
                    
                        <select class="form-control" name="subdepartment7">
                          <option value="None">Select Sub Department</option>
                          <option value="None">None</option>
                        </select>
                  </div>
                  <div class="input-group Engineering" style="margin-bottom: 20px; display: none;" id="Engineering">
                    
                        <select class="form-control" name="subdepartment8">
                          <option value="None">Select Sub Department</option>
                          <option value="Mechanical Engineering">Mechanical Engineering</option>
                          <option value="Civil Engineering">Civil Engineering</option>
                          <option value="Computer Science Engineering">Computer Science Engineering</option>
                          <option value="Electronics and Engineering">Electronics and Engineering</option>
                          <option value="Information Technology">Information Technology</option>
                          <option value="Aerospace Engineering">Aerospace Engineering</option>
                        </select>
                  </div>

                 <div class="input-group" style="margin-bottom: 20px;">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="material-icons">face</i>
                        </span>
                    </div>
                    <div class="input-group">
                        <label for="pp" class="form-control">Upload Profile Picture</label>
                        <input type="file" name="file" class="form-control" id="pp" required>
                      </div>
                  </div>
                  <button type="submit" class="btn btn-success">Submit</button>
                </form>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
      

{% endblock %}