{% extends 'admin/base.html' %} 
{% block main_page %} 

      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6 mx-auto">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title" id="page_name">Register Supervisors</h4>
                  <p class="card-category">Add Supervisors and Co-Supervisors</p>
                </div>
                <div class="card-body">
                Register supervisors and Co-Supervisors

            
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
      

{% endblock %}