{% extends 'admin/base.html' %} 
{% block main_page %} 

      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6 mx-auto">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title" id="page_name">Set Batch</h4>
                  <p class="card-category">Set New Batch</p>
                </div>
                <div class="card-body">


                  {% with messages = get_flashed_messages() %}
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
        aria-hidden="true">×</span></button>
    {{message}}
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}
             <form class="text-center" action="{{url_for('admin.addbatch')}}" method="POST">
              <label class="form-control">Batch Name</label>
              <input type="text" name="batch_name" class="form-control border-top-0 border-left-0 border-right-0" placeholder="Batch Name" >
              <label class="form-control">Start Date</label>
              <input type="date" name="start_date" class="form-control border-top-0 border-left-0 border-right-0" placeholder="Batch Name" >
              <label class="form-control">End Date</label>
              <input type="date" name="end_date" class="form-control border-top-0 border-left-0 border-right-0" placeholder="Batch Name" >
              <button type="submit" name="add" value="Add" class="btn btn-primary btn-round">Add</button>

            </form>
              <form class="text-center" action="{{url_for('admin.activatebatch')}}" method="POST" style="margin-top: 50px;">
              
              <label class="form-control">Active Batch : {{ active }}</label>
              
              <select name="batch_name" class="form-control">
                        <option value="0">Select Batch</option>
                        {% for i in display_list %}
                        <option value="{{ i['batch_name'] }}">{{ i['batch_name'] }}</option>
                        {% endfor %}
                        
                    </select>
              <button type="submit" name="activate" value="Activate" class="btn btn-primary btn-round">Activate</button>


            </form>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
      

{% endblock %}