<div class="sidebar" data-color="purple" data-background-color="white" data-image="{{ url_for('admin.static',  filename='/img/sidebar-1.jpg') }}">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
      <div class="logo"><a href="http://www.creative-tim.com" class="simple-text logo-normal">
          MIT R&C
        </a></div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item active" id="Admin DashBoard">
            <a class="nav-link" href="{{url_for('admin.dashboard')}}">
              <i class="material-icons">dashboard</i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="nav-item" id="Set Batch">
            <a class="nav-link" href="{{url_for('admin.setbatch')}}">
              <i class="material-icons">contacts</i>
              <p>Set Batch</p>
            </a>
          </li>
          <li class="nav-item " id="Set Pages">
            <a class="nav-link" href="{{url_for('admin.setpages')}}">
              <i class="material-icons">pages</i>
              <p>Set Pages</p>
            </a>
          </li>
          <li class="nav-item " id="Approve Researchers">
            <a class="nav-link" href="{{url_for('admin.approve')}}">
              <i class="material-icons">verified</i>
              <p>Approve Researchers</p>
            </a>
          </li>
          <li class="nav-item " id="Promote Researchers">
            <a class="nav-link" href="{{url_for('admin.promote')}}">
              <i class="material-icons">vpn_key</i>
              <p>Promote Researchers</p>
            </a>
          </li>
          <li class="nav-item " id="Send Notice">
            <a class="nav-link" href="{{url_for('admin.notice')}}">
              <i class="material-icons">event</i>
              <p>Send Notice</p>
            </a>
          </li>
          <li class="nav-item " id="Upload Resources">
            <a class="nav-link" href="{{url_for('admin.resources')}}">
              <i class="material-icons">publish</i>
              <p>Upload Resources</p>
            </a>
          </li>
          <li class="nav-item " id="Register Supervisors">
            <a class="nav-link" href="{{url_for('admin.register_supervisors')}}">
              <i class="material-icons">group_add</i>
              <p>Register Supervisors</p>
            </a>
          </li>
          <li class="nav-item " id="Register Authorities">
            <a class="nav-link" href="{{url_for('admin.register_authorities')}}">
              <i class="material-icons">remove_red_eye</i>
              <p>Register Authorities</p>
            </a>
          </li>
          <li class="nav-item " id="Edit Users">
            <a class="nav-link" href="{{url_for('admin.editusers')}}">
              <i class="material-icons">how_to_reg</i>
              <p>Edit Users</p>
            </a>
          </li>
          <li class="nav-item " id="Block Users">
            <a class="nav-link" href="{{url_for('admin.blockusers')}}">
              <i class="material-icons">person_add_disabled</i>
              <p>Block Users</p>
            </a>
          </li>
          <li class="nav-item " id="Remove Users">
            <a class="nav-link" href="{{url_for('admin.removeusers')}}">
              <i class="material-icons">delete</i>
              <p>Remove Users</p>
            </a>
          </li>
          <li class="nav-item " id="View Scholars">
            <a class="nav-link" href="{{url_for('admin.view_scholars')}}">
              <i class="material-icons">pageview</i>
              <p>View Scholars</p>
            </a>
          </li>
          <li class="nav-item " id="View Supervisors">
            <a class="nav-link" href="{{url_for('admin.view_supervisors')}}">
              <i class="material-icons">pageview</i>
              <p>View Supervisors</p>
            </a>
          </li>
          <li class="nav-item " id="View Co-Supervisors">
            <a class="nav-link" href="{{url_for('admin.view_cosupervisors')}}">
              <i class="material-icons">pageview</i>
              <p>View Co-Supervisors</p>
            </a>
          </li>
          <li class="nav-item " id="View Authorities">
            <a class="nav-link" href="{{url_for('admin.view_authorities')}}">
              <i class="material-icons">pageview</i>
              <p>View Authorities</p>
            </a>
          </li>
        </ul>
      </div>
    </div>