{% extends 'admin/base.html' %} 
{% block main_page %} 

      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 mx-auto">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title" id="page_name">View Authorities</h4>
                  <p class="card-category">View Special Access Holders</p>
                </div>
                <div class="card-body" style="overflow-x: auto;">
                <div class="row">
                  
                
<table class="table">
    <thead>
        <tr>
          <th>Profile Pic</th>
          <th>Title</th>
            <th>Name</th>
            <th>Description</th>
            <th>Mobile No</th>
            <th>Email</th>
            <th>Address</th>
            <th>DoB</th>
            <th>Gender</th>
            <th>Nationality</th>
            <th>Twitter</th>
            <th>Facebook</th>
            <th>Skype</th>
            <th>Github</th>
            
        </tr>
    </thead>
    <tbody>
     
      {% for i in users %}
    
        <tr>
          <td><img src="{{ url_for('portal.static',  filename= i['profile_pic_link'] ) }}" height="60px" width="60px" style="border-radius:50%;"></td>
          <td>{{ i['title'] }}</td>
            <td>{{ i['first_name'] }} {{ i['last_name'] }}</td>
            <td>{{ i['info'] }}</td>
            <td>{{ i['phone'] }}</td>
            <td>{{ i['email'] }}</td>
            <td>{{ i['address'] }}</td>
            <td>{{ i['dob'] }}</td>
            <td>{{ i['gender'] }}</td>
            <td>{{ i['nationality'] }}</td>
            <td>{{ i['twitter'] }}</td>
            <td>{{ i['facebook'] }}</td>
            <td>{{ i['skype'] }}</td>
            <td>{{ i['github'] }}</td>
        </tr>
        


        {% endfor %}
        
   
    </tbody>
</table>
</div>

            
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
      

{% endblock %}