{% extends 'forum/base.html' %}
{% block css %}
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
{% endblock %}
{% block main_page %}
<div class="">

    {% include 'portal/header.html' %}
    <div class="container" style="padding-top: 12vh;">
        <div class="d-flex justify-content-between">
            <h3 class="title text-dark pb-3">All Questions</h3>

            <form class="mt-4 pt-1" style="width: 40%;">
                <input type="search" class="form-control ds-input" id="forumSearch" placeholder="Search..."
                    aria-label="Search for..." autocomplete="off" data-docs-version="4.5" spellcheck="false"
                    role="combobox" aria-autocomplete="list" aria-expanded="false"
                    aria-owns="algolia-autocomplete-listbox-0" style="position: relative; vertical-align: top;"
                    dir="auto" onkeyup="fetchSearchData()">
            </form>
        </div>
        <hr>
        <div id="searchContainer" style="display: none;">

        </div>
        <div class="row pt-4 " id="normalData">
            <div class="col-md-3 text-dark border-right">
                {% if session['logged_in'] %}
                <button class="btn btn-outline-primary btn-block" id="askQuestion">Ask a question</button>
                {% endif %}
                <div class="mt-4 pt-4">

                    <h4 class="title text-dark text-center">Departments</h4>
                    <hr>
                    <ul class="nav nav-pills nav-pills-rose flex-column">
                        {% for i in range(departments|length) %}
                        {% if session['logged_in'] %}
                        {% if departments[i]==session['department'] %}
                        <li class="nav-item"><a class="nav-link active" href="#{{departments[i]}}"
                                data-toggle="tab">{{departments[i]}}</a>
                        </li>
                        {% else %}
                        <li class="nav-item"><a class="nav-link" href="#{{departments[i]}}"
                                data-toggle="tab">{{departments[i]}}</a>
                        </li>
                        {% endif %}
                        {% else %}
                        {% if i==0 %}
                        <li class="nav-item"><a class="nav-link active" href="#{{departments[i]}}"
                                data-toggle="tab">{{departments[i]}}</a>
                        </li>
                        {% else %}
                        <li class="nav-item"><a class="nav-link" href="#{{departments[i]}}"
                                data-toggle="tab">{{departments[i]}}</a>
                        </li>
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-md-9 text-dark pr-4" id="allPosts">
                {% if session['logged_in'] %}
                <div class="border  p-1" style="display: none;" id="answerContainer">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Title</label>
                        <input type="text" class="form-control" id="threadTitle" placeholder="Enter thread title">
                    </div>
                    <div id="toolbar-container">

                        <span class="ql-formats">
                            <select class="ql-size"></select>
                        </span>
                        <span class="ql-formats">
                            <button class="ql-bold"></button>
                            <button class="ql-italic"></button>
                            <button class="ql-underline"></button>
                            <button class="ql-strike"></button>
                        </span>
                        <span class="ql-formats">
                            <input type="hidden" id="myHtml" />

                            <select class="ql-color"></select>
                            <select class="ql-background"></select>
                        </span>
                        <span class="ql-formats">
                            <button class="ql-script" value="sub"></button>
                            <button class="ql-script" value="super"></button>
                        </span>
                        <span class="ql-formats">
                            <button class="ql-header" value="1"></button>
                            <button class="ql-header" value="2"></button>
                            <button class="ql-blockquote"></button>
                            <button class="ql-code-block"></button>
                        </span>
                        <span class="ql-formats">
                            <button class="ql-list" value="ordered"></button>
                            <button class="ql-list" value="bullet"></button>
                            <button class="ql-indent" value="-1"></button>
                            <button class="ql-indent" value="+1"></button>
                        </span>
                        <span class="ql-formats">
                            <button class="ql-direction" value="rtl"></button>
                            <select class="ql-align"></select>
                        </span>
                        <span class="ql-formats">
                            <button class="ql-link"></button>
                            <button class="ql-image"></button>
                            <button class="ql-video"></button>
                            <button class="ql-formula"></button>
                        </span>
                        <span class="ql-formats">
                            <button class="ql-clean"></button>
                        </span>
                    </div>

                    <div id="editor">
                        <p class="text-muted"></p>
                        <br>
                    </div>
                    <div class="row d-flex justify-content-between">
                        <div class="input-group col-md-4 col-sm-5">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="material-icons">school</i>
                                </span>
                            </div>
                            <select class="form-control" id="departmentschange" name="department">
                                <option value="None">Select Department</option>
                                {% for department in departments %}
                                <option value="{{department}}">{{department}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-4 col-sm-5">

                            <button class="btn btn-link btn-block text-primary m-0" id="convert" type="submit">Post
                                thread</button>
                        </div>
                    </div>

                </div>
                {% endif %}
                <div class="tab-content">
                    {% for departments in posts %}

                    {% if departments['_id']==session['department'] %}
                    <div class="tab-pane active" id="{{departments['_id']}}">
                        {% else %}
                        <div class="tab-pane" id="{{departments['_id']}}">
                            {% endif %}
                            <div id="{{departments['_id']}}Data">
                                {% for post in departments['data'] %}
                                <div class="row border-bottom py-3">
                                    <div class="col-md-2">
                                        <div class="text-center m-auto">
                                            <h4 class="my-0 font-weight-bold">{{post['upvotes']|length}}</h4>
                                            <span style="font-size: 14px;">Votes</span>
                                        </div>
                                        <div class="text-center m-auto">

                                            <button class="btn btn-outline-success py-0 px-1">
                                                <h4 class="my-0 font-weight-bold">{{post['answers']|length}}</h4>
                                                <span
                                                    style="font-size: 14px; text-transform: capitalize;">Answers</span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-md-10">
                                        <a href="" style="font-weight: 400; font-size: 16px;">
                                            {{post['title']}}
                                        </a>
                                        <div class="= pt-3 "
                                            style="-webkit-line-clamp: 2;display: -webkit-box;overflow: hidden;-webkit-box-orient: vertical; max-height: 10vh;">
                                            {% autoescape false %}
                                            {{post['description']}}
                                            {% endautoescape %}
                                        </div>
                                        <div style="float: right;">
                                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6e/Shah_Rukh_Khan_graces_the_launch_of_the_new_Santro.jpg/220px-Shah_Rukh_Khan_graces_the_launch_of_the_new_Santro.jpg"
                                                class="rounded-circle ml-2" style="height: 25px; width: 25px;" alt="">
                                            <a href=""> @{{ post['uid'] }}</a>
                                            <small class="pl-4 ml-4"><abbr class="timeago"
                                                    title="{{ post['created_on'] }}"
                                                    style="text-decoration: none;"></abbr></small>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            {% if departments['data']|length==5 %}
                            <div class="p-3 d-flex justify-content-between">
                                <button class="btn btn-link text-primary" id="{{departments['_id']}}Prev1"
                                    onclick="readContent(this.id,'prev')">Prev</button>
                                <button class="btn btn-link text-primary" id="{{departments['_id']}}Next1"
                                    onclick="readContent(this.id,'next')">Next</button>
                            </div>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>

    </div>

    {% endblock %}

    {% block jquery %}
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script src="https://cdn.quilljs.com/1.3.6/quill.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.4.3/jquery.timeago.js"
        type="text/javascript"></script>
    <!-- Initialize Quill editor -->
    <script>
        var quill = new Quill('#editor', {
            modules: {
                syntax: true,
                toolbar: '#toolbar-container'
            },
            placeholder: 'Enter description',

            theme: 'snow'
        });

        $('#convert').click(function () {
            editor = document.getElementById('editor');

            category = $('#departmentschange').val();
            title = $('#threadTitle').val();
            if (category == "None") {
                alert("Please choose the department");
                return false
            }
            if (title.length < 10) {
                alert("title must me atleast 10 characters long.")
                return false
            }
            description = editor.firstChild.innerHTML
            console.log(title + category + description);
            $.ajax({
                url: '{{url_for("forum.new_post")}}',
                data: JSON.stringify({ title: title, category: category, description: description }),
                type: 'POST',
                success: function (response) {
                    response = JSON.parse(response)
                    // alert(response.data.created_on.toString())
                    if (response.status == true) {
                        // alert("response: " + response.data);
                        var $post = $(`<div class="row border-bottom py-3">
                    <div class="col-md-2">
                        <div class="text-center m-auto">
                            <h4 class="my-0 font-weight-bold">${response.data.upvotes.length}</h4>
                            <span style="font-size: 14px;">Votes</span>
                        </div>
                        <div class="text-center m-auto">

                            <button class="btn btn-outline-success py-0 px-1">
                                <h4 class="my-0 font-weight-bold">${response.data.answers.length}</h4>
                                <span style="font-size: 14px; text-transform: capitalize;">Answers</span>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <a href="" style="font-weight: 400; font-size: 16px;">
                            ${response.data.title}
                        </a>
                        <div class="= pt-3 "
                            style="-webkit-line-clamp: 2;display: -webkit-box;overflow: hidden;-webkit-box-orient: vertical; max-height: 10vh;">
                            {% autoescape false %}
                            ${response.data.description}
                            {% endautoescape %}
                        </div>
                        <div style="float: right;">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6e/Shah_Rukh_Khan_graces_the_launch_of_the_new_Santro.jpg/220px-Shah_Rukh_Khan_graces_the_launch_of_the_new_Santro.jpg"
                                class="rounded-circle ml-2" style="height: 25px; width: 25px;" alt="">
                            <a href=""> @${response.data.uid}</a>
                            <small class="pl-4 ml-4"><abbr class="timeago_new" title="${response.data.created_on.toString()}" style="text-decoration: none;"></abbr></small>
                        </div>
                    </div>
                </div>`)
                        $(`#${category}Data`).prepend($post);
                        $("abbr.timeago_new").timeago();
                    } else {
                        alert("response: " + response.status);
                    }
                    editor.firstChild.innerHTML = '';
                    title = $('#threadTitle').val('');
                    $("#answerContainer").toggle();
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });

        function getDate(date) {
            newDate = JSON.parse(date)
            newDate = new Date(newDate['$date'])
            console.log(newDate)
            return newDate
        }

        const getData = () => {
            console.log('fetching data..')
            var text = $("#forumSearch").val()
            if (text.length ==0) {
                $('#searchContainer').hide()
                $('#normalData').show()
            } else {
                $.ajax({
                    url: '{{url_for("forum.fetch_search_data")}}',
                    data: JSON.stringify({ text: text }),
                    type: 'POST',
                    success: function (response) {
                        $('#normalData').hide();
                        $('#searchContainer').html('');
                        response = JSON.parse(response)
                        console.log(JSON.stringify(response))

                        for (var i = 0; i < response.length; i++) {
                            var $post = $(`<div class="row border-bottom py-3">
                    <div class="col-md-2">
                        <div class="text-center m-auto text-dark">
                            <h4 class="my-0 font-weight-bold text-dark">${response[i].upvotes.length}</h4>
                            <span class="text-dark" style="font-size: 14px;">Votes</span>
                        </div>
                        <div class="text-center m-auto">

                            <button class="btn btn-outline-success py-0 px-1">
                                <h4 class="my-0 font-weight-bold">${response[i].answers.length}</h4>
                                <span style="font-size: 14px; text-transform: capitalize;">Answers</span>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <a href="" style="font-weight: 400; font-size: 16px;">
                            ${response[i].title}
                        </a>
                        <div class="= pt-3 text-dark"
                            style="-webkit-line-clamp: 2;display: -webkit-box;overflow: hidden;-webkit-box-orient: vertical; max-height: 10vh;">
                            {% autoescape false %}
                            ${response[i].description}
                            {% endautoescape %}
                        </div>
                        <div style="float: right;">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6e/Shah_Rukh_Khan_graces_the_launch_of_the_new_Santro.jpg/220px-Shah_Rukh_Khan_graces_the_launch_of_the_new_Santro.jpg"
                                class="rounded-circle ml-2" style="height: 25px; width: 25px;" alt="">
                            <a href=""> @${response[i].uid}</a>
                            <small class="pl-4 ml-4 text-dark">${getDate(JSON.stringify(response[i].created_on))}</small>
                        </div>
                    </div>
                </div>`);
                            $('#searchContainer').append($post);
                            $('#searchContainer').show();


                        }
                            
                            $heading=$(`<div><h3 class="title text-muted">showing total ${response.length} results..</h3></div>`)
                            $('#searchContainer').prepend($heading);


                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            }
        }

        const debounceFunction = function (func, delay) {
            let timer;
            return function () {
                let context = this,
                    args = arguments;
                clearTimeout(timer);
                timer = setTimeout(() => {
                    func.apply(context, arguments)
                }, delay)
            }
        }

        const fetchSearchData = debounceFunction(getData, 350)

        function readContent(id, type) {
            if (type == 'prev') {
                pageIndex = id.indexOf('Prev');
                currentIndex = parseInt(id.slice(pageIndex + 4))
                if (currentIndex == 1) {
                    return false
                }
                index = currentIndex - 1
            } else {
                pageIndex = id.indexOf('Next');
                currentIndex = parseInt(id.slice(pageIndex + 4))
                index = currentIndex + 1
            }
            console.log(id[pageIndex + 4])
            $.ajax({
                url: '{{url_for("forum.read_data")}}',
                data: JSON.stringify({ index: index, department: id.slice(0, pageIndex) }),
                type: 'POST',
                success: function (response) {
                    response = JSON.parse(response)
                    // alert(JSON.stringify(response.data[1]))
                    if (response.status == true) {
                        $(`#${id.slice(0, pageIndex)}Data`).html('');
                        // alert("response: " + response.data);
                        for (var i = 0; i < response.data.length; i++) {
                            var $post = $(`<div class="row border-bottom py-3">
                    <div class="col-md-2">
                        <div class="text-center m-auto">
                            <h4 class="my-0 font-weight-bold">${response.data[i].upvotes.length}</h4>
                            <span style="font-size: 14px;">Votes</span>
                        </div>
                        <div class="text-center m-auto">

                            <button class="btn btn-outline-success py-0 px-1">
                                <h4 class="my-0 font-weight-bold">${response.data[i].answers.length}</h4>
                                <span style="font-size: 14px; text-transform: capitalize;">Answers</span>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <a href="" style="font-weight: 400; font-size: 16px;">
                            ${response.data[i].title}
                        </a>
                        <div class="= pt-3 "
                            style="-webkit-line-clamp: 2;display: -webkit-box;overflow: hidden;-webkit-box-orient: vertical; max-height: 10vh;">
                            {% autoescape false %}
                            ${response.data[i].description}
                            {% endautoescape %}
                        </div>
                        <div style="float: right;">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6e/Shah_Rukh_Khan_graces_the_launch_of_the_new_Santro.jpg/220px-Shah_Rukh_Khan_graces_the_launch_of_the_new_Santro.jpg"
                                class="rounded-circle ml-2" style="height: 25px; width: 25px;" alt="">
                            <a href=""> @${response.data[i].uid}</a>
                            <small class="pl-4 ml-4"><abbr class="timeago_read" title="${getDate(JSON.stringify(response.data[i].created_on))}" style="text-decoration: none;"></abbr></small>
                        </div>
                    </div>
                </div>`);
                            $(`#${id.slice(0, pageIndex)}Data`).append($post);
                            $(`#${id.slice(0, pageIndex)}Prev${currentIndex}`).attr('id', `${id.slice(0, pageIndex)}Prev${index}`)
                            $(`#${id.slice(0, pageIndex)}Next${currentIndex}`).attr('id', `${id.slice(0, pageIndex)}Next${index}`)
                            $("abbr.timeago_read").timeago();

                            if (index == 1) {
                                $(`#${id.slice(0, pageIndex)}Prev${index}`).hide()
                            } else {
                                // console.log('this is length: ' + response.data.length)
                                $(`#${id.slice(0, pageIndex)}Prev${index}`).show()
                                if (response.data.length < 5) {
                                    $(`#${id.slice(0, pageIndex)}Next${index}`).hide()
                                } else {
                                    $(`#${id.slice(0, pageIndex)}Next${index}`).show()
                                }
                            }
                        }
                    } else {
                        alert("response: " + response.status);
                    }

                },
                error: function (error) {
                    console.log(error);
                }
            });

        }


    </script>

    <script>
        $(document).ready(function () {
            console.log("ready!");
            $("#header").addClass("text-primary");
            $("#header").addClass("py-0");
            $("#headerTitle").addClass("text-primary");
            $("#header").removeClass("navbar-transparent");
            $("#askQuestion").click(function () {
                $("#answerContainer").toggle();
            });


            var container = document.getElementsByClassName('editor');
            for (i = 0; i < container.length; i++) {
                var configs = {
                    readOnly: true,
                    theme: 'snow'
                };
                var editor = new Quill(container[i], configs);

            }

            var tab = $('a.active').attr('href');
            var classNames = $(tab).attr("class").toString().split(' ');
            if ('active' in classNames == false) {
                $(tab).addClass('active');
            }

        });
        jQuery(document).ready(function () {

            $("abbr.timeago").timeago();

        });
    </script>
    {% endblock %}